<h1>About Us</h1>
<div class="row">
  <div class="col">
    Berawal dari lembaga kursus yang berorientasi khusus memberikan
    pelatihan/kursus dari berbagai program aplikasi komputer, MDP didirikan pada
    tanggal 1 Juli 1987 di kota Palembang, tepatnya di Jalan Rupit No. 20. Pada
    saat itu fasilitas laboratorium komputer yang ada hanya 2 ruangan, dan pada
    bulan November 1988 dibuka cabang di Jl. Letkol Iskandar dengan fasilitas 2
    ruangan lab. komputer. Seiring berkembangnya zaman khususnya untuk memenuhi
    kebutuhan tenaga terampil di bidang komputer dan untuk lebih meningkatkan
    pelayanan, maka manajemen MDP memutuskan mulai 7 Mei 1990 pindah ke lokasi
    baru di Jl. Lingkaran 1 No. 305 Palembang dengan kapasitas 6 (enam) kelas
    dan fasilitas kelas lebih baik.

    <br /><br />Guna memenuhi permintaan permintaan masyarakat yang semakin yang
    semakin memerlukan suatu suatu system pendidikan yang terarah sesuai bidang
    pekerjaannya, maka mulai Agustus 1993 Pusat Pendidikan Komputer MDP membuka
    Pendidikan Ahli Komputer (Program 1 tahun) setara dengan Diploma I (D1)
    dengan pilihan jurusan : Teknik Informatika, Teknik Komputer, Komputerisasi
    Akuntansi, Komputer Disain Grafis, dan pada tahun 2000 ditambah satu jurusan
    yang sedang trend pada dunia internet sekarang ini yaitu Jurusan E-commerce.

    <br /><br />Dengan didasari keinginan untuk berpartisipasi dalam pembangunan
    negara Republik Indonesia terutama pembangunan manusia yang berintegritas
    serta memiliki kemampuan di bidang Teknologi Informasi, maka Yayasan Multi
    Data Palembang berencana untuk mengembangkan lembaga pendidikan pada tingkat
    yang lebih tinggi. Keinginan tersebut akhirnya terwujud dengan terbitnya
    Surat Keputusan Direktorat Pendidikan Tinggi Departemen Pendidikan No.
    189/D/O/2000, tanggal 7 September 2000, tentang pendirian Akademi Manajemen
    Informatika dan Komputer MDP serta pemberian Status Terdaftar untuk 2 (dua)
    program Studi, yaitu Manajemen Informatika (D3) dan Teknik Komputer (D3).
    Selang satu tahun penyelenggaraan AMIK MDP, pada tanggal 5 Juli 2001 terbit
    Surat Keputusan Direktorat Pendidikan Tinggi Departemen Pendidikan No.
    60/D/O/2001, tentang pendirian Sekolah Tinggi Manajemen Informatika dan
    Komputer Multi Data Palembang (STMIK MDP) serta pemberian Status Terdaftar
    kepada 2 (dua) program studi, yaitu Teknik Informatika (S1) dan Sistem
    Informasi (S1). Melengkapi program studi yang ada di STMIK MDP, pada tanggal
    7 Agustus 2001 terbitnya izin penyelenggaraan 1 (satu) program studi baru,
    yaitu Program Studi Komputerisasi Akuntansi (D3).

    <br /><br />Seiring dengan perkembangan jaman, dan demi mewujudkan lulusan
    yang bermutu, maka STMIK/AMIK MDP mengikuti pengujian sertifikasi ISO, dan
    pada tanggal 2 Maret 2004 berhasil mendapatkan sertifikat ISO 9001-2000
    tentang manajemen dari SGS dengan No. AU04/2002. Di bidang akademik pada
    tanggal 28 Januari 2005, Program Studi Sistem Informasi dan Program Studi
    Teknik Informatika mendapat status “AKREDITASI” dari Badan Akreditasi
    Nasional Perguruan Tinggi (BAN PT) dengan surat No.
    001/Ban-PT/Ak-VIII/S1/I/2005, selanjutnya pada tanggal 8 Juni 2005 menyusul
    Program Studi Teknik Komputer dan Program Studi Komputerisasi Akuntansi
    mendapatkan juga status “AKREDITASI” dari BAN PT dengan surat No.005
    /Ban-PT/Ak-V/Dpl.III/VI/2005. Akhirnya pada tanggal 7 Juli 2005, Program
    Studi Manajemen Informatika juga mendapatkan status “AKREDITASI” dari BAN PT
    dengan surat No. 007/BAN-PT/Ak-V/Dpl-III/VII/2005. Sehingga saat ini semua
    Program Studi di STMIK/AMIK MDP telah mendapatkan Status “AKREDITASI”.

    <br /><br />Pada 9 April 2021, berdasarkan Surat Keputusan Menteri
    Pendidikan dan Kebudayaan Republik Indonesia No. 125/E/O/2021 tentang
    Penggabungan AMIK MDP, STMIK GI MDP, dan STIE MDP menjadi Universitas Multi
    Data Palembang.
  </div>
  <div class="col">
    <img
      src="./images/about.jpg"
      alt="About Us"
      class="rounded d-block w-100"
    />
  </div>
</div>
